
{%extends 'base.html'%}
{%block content%}

<div class = "col-md-6 offset-md-3">

{% if user.is_authenticated %}
<h1>Hello World</h1>

{% else %}
<h1> Login</h1>
<form method = "POST" action ="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User name</label>
          <!--
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          -->
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</form> 
</div>
{% endif %}
{%endblock%}